.node_modiules/
dist/
build/
*.log
*.tsbuildinfo
*.env
.DS_Store
coverage/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*.pid
*.seed
*.pid.lock
lib-cov/
.nyc_output/
coverage/
*.lcov
*.log
*.tsbuildinfo
*.env
.DS_Store
.frontend-npm-cache/
.frontend-node-modules/